<h1>プロフィール編集</h1>

<%= form_with(model: @user, local: true, html: { multipart: true }) do |f| %>
  <div class="form-group">
    <%= f.label :avatar, 'アバター画像' %>
    <%= f.file_field :avatar %>
  </div>

  <div class="form-group">
    <%= f.label :bio, '自己紹介' %>
    <%= f.text_area :bio, rows: 5, class: 'form-control' %>
  </div>

  <%= f.submit '更新する', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'プロフィールに戻る', user_path %>
