<%= form_with url: saunas_path, method: :get, local: true, class: 'search-form' do |f| %>
    <div class="form-group">
      <%= f.label :query, '検索:' %>
      <%= f.text_field :query, class: 'form-control', placeholder: '施設名や場所で検索', value: params[:query] %>
    </div>
  
    <div class="form-group">
      <%= f.label :temperature_min, 'サウナ温度の最小値:' %>
      <%= f.number_field :temperature_min, class: 'form-control', value: params[:temperature_min], step: 1 %>
    </div>
  
    <div class="form-group">
      <%= f.label :temperature_max, 'サウナ温度の最大値:' %>
      <%= f.number_field :temperature_max, class: 'form-control', value: params[:temperature_max], step: 1 %>
    </div>
  
    <div class="form-group">
      <%= f.label :location, '場所:' %>
      <%= f.text_field :location, class: 'form-control', placeholder: '例: 東京都新宿区', value: params[:location] %>
    </div>
  
    <div class="form-group">
      <%= f.label :has_hot_spring, '温泉の有無:' %>
      <%= f.select :has_hot_spring, options_for_select([['有り', 'true'], ['無し', 'false']], params[:has_hot_spring]), {}, class: 'form-control' %>
    </div>
  
    <div class="form-group">
      <%= f.label :rolyu, 'ロウリュー:' %>
      <%= f.select :rolyu, options_for_select([['有り', 'true'], ['無し', 'false']], params[:rolyu]), {}, class: 'form-control' %>
    </div>
  
    <div class="form-group">
      <%= f.label :aufguss, 'アウフグース:' %>
      <%= f.select :aufguss, options_for_select([['有り', 'true'], ['無し', 'false']], params[:aufguss]), {}, class: 'form-control' %>
    </div>
  
    <%= f.submit '検索', class: 'btn btn-primary' %>
  <% end %>
  
  <h1 class="page-title">サウナ一覧</h1>
  
  <div class="sauna-list">
    <% @saunas.each do |sauna| %>
      <div class="sauna-card">
        <h2><%= link_to sauna.name, sauna_path(sauna), class: 'sauna-name' %></h2>
        <p><strong>場所:</strong> <%= sauna.location %></p>
        <p><strong>サウナ温度:</strong> <%= sauna.sauna_temperature %>℃</p>
        <p><strong>水風呂温度:</strong> <%= sauna.water_temperature %>℃</p>
        <p><strong>ロウリュー:</strong> <%= sauna.rolyu ? '有り' : '無し' %></p>
        <p><strong>アウフグース:</strong> <%= sauna.aufguss ? '有り' : '無し' %></p>
        <p><strong>温泉の有無:</strong> <%= sauna.has_hot_spring ? '有り' : '無し' %></p>
      </div>
    <% end %>
  </div>  
